N8N_Workflow.json
{
  "name": "VTB-AI-HR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bdb03062-4727-4f7c-91bb-fcc0e4d474e9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "423b46cb-4b4c-422c-9f3a-1acdd75024ab",
      "name": "Webhook",
      "webhookId": "bdb03062-4727-4f7c-91bb-fcc0e4d474e9"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $json.body.contacts.email }}",
        "subject": "=Приглашение на собеседование |  {{ $json.body.vacancy.title }}",
        "message": "=Доброго времени суток! Благодарим Вас за интерес к нашей компании! Приглашаем вас на техническое собеседование по вакансии {{ $json.body.vacancy.title }}. Когда будете готовы - нажмите на кнопку ниже, и через пару минут Вы получите ссылку на конференцию.",
        "approvalOptions": {
          "values": {
            "approveLabel": "Подтвердить готовность"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "days"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        -176
      ],
      "id": "02e24a5d-33d6-4732-9264-146061ce07af",
      "name": "Send message and wait for response",
      "webhookId": "59eed5b7-4980-442a-a7f7-19f5e2c146b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "16DNxnVBPmdek8fs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e9a867c-4e6c-418f-a7eb-756a29988c75",
              "leftValue": "={{ $json.body.webhook_type }}",
              "rightValue": "interview_approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "ab761168-a24e-4efd-82a5-cdcd6e5c79bd",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e9a867c-4e6c-418f-a7eb-756a29988c75",
              "leftValue": "={{ $json.body.contacts.email }}",
              "rightValue": "interview_approved",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        -160
      ],
      "id": "fd773318-e2df-4845-8666-ebba86d3937c",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2df509f6-e5f0-498d-bf1e-85c92812e081",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -160
      ],
      "id": "feae1621-bb28-4846-ae06-061bd6dedf30",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fullstack-server.loca.lt/webhook/create-conference",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "analysis_id",
              "value": "={{ $('Webhook').item.json.body.analysis_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        -160
      ],
      "id": "00593e5f-dcd3-4610-84ca-475e9d40b45e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.candidate_data.contacts.email }}",
        "subject": "=Ссылка на собеседование |  {{ $json.body.candidate_data.vacancy.title }}",
        "message": "=Доброго времени суток! Ждем Вас на собеседование. Ссылка для подключения: {{ $json.body.conference_invite_url }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        16
      ],
      "id": "1781623a-57f0-41a3-bed8-4c55fae6d8bd",
      "name": "Send a message",
      "webhookId": "59eed5b7-4980-442a-a7f7-19f5e2c146b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "16DNxnVBPmdek8fs",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "tralala-production.up.railway.app",
            "user-agent": "python-requests/2.32.5",
            "content-length": "8072",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate",
            "content-type": "application/json",
            "x-forwarded-for": "154.195.170.197",
            "x-forwarded-host": "tralala-production.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "9JBqygzwRdeEIVdB5nX1uw",
            "x-real-ip": "154.195.170.197",
            "x-request-start": "1757425880169"
          },
          "params": {},
          "query": {},
          "body": {
            "webhook_type": "invite_participant",
            "analysis_id": "48046b68-f20a-4f8a-bb65-09c9386a507d",
            "conference_invite_url": "https://myra-unpleasurable-overjudiciously.ngrok-free.app/c/8554842031",
            "candidate_data": {
              "webhook_type": "interview_approved",
              "analysis_id": "48046b68-f20a-4f8a-bb65-09c9386a507d",
              "contacts": {
                "email": "chubemba@gmail.com",
                "phone": "+79999998877",
                "telegram": "@hz"
              },
              "vacancy": {
                "title": "Описание ИТ",
                "content": "Наименование поля | Значение\nСтатус | Открыта\nНазвание | ведущий специалист\nРегион | Санкт-Петербург\nГород | Санкт-Петербург\nАдрес | Маршала Говорова,52,А\nТип трудового | Постоянно\nТип занятости | Полная занятость\nТекст график работы | Комбинированный (гибридный) формат работы\nДоход (руб/мес)\nОклад макс. (руб/мес)\nОклад мин. (руб/мес)\nГодовая премия (%)\nТип премирования. Описание | Годовое\nОбязанности (для публикации) | Монтаж / демонтаж серверного и сетевого оборудования в ЦОД Подключение серверного и сетевого оборудования к сетям передачи данных (LAN и SAN) Первичная настройка серверного оборудования (BIOS, BMC, RAID и т.п.) Решение инцидентов/аварий в оборудовании х86 Поддержание порядка в серверных помещениях Внесение данных о проделанной работе в системы учёта (CMDB, DCIM и т.п) Сопровождение работ подрядчиков в ЦОД\nТребования (для публикации) | Базовые знания об устройстве и принципах работы: - серверного оборудования х86, - структурированных кабельных систем (медных и оптических) - сетях передачи и хранения данных (LAN и SAN) - центров обработки данных Навык первичной диагностики серверного оборудования х86 Уверенные навыки работы с Excel, Word, Visio Грамотная устная и письменная речь Ответственность, аккуратность в работе, исполнительность, инициативность\nУровень образования | Среднее специальное/профессиональное\nТребуемый опыт работы | 1-3 года\nЗнание специальных программ\nНавыки работы на компьютере\nЗнание иностранных языков\nУровень владения языка\nНаличие командировок | Да\nДополнительная информация"
              }
            }
          },
          "webhookUrl": "https://tralala-production.up.railway.app/webhook/bdb03062-4727-4f7c-91bb-fcc0e4d474e9",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee2927c6-ca54-4a24-9271-b245e2770b76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b61567339c32bd5d00b6ff2fb1600a12ee504a30d7ff4fdf55e5ce0d6a12651d"
  },
  "id": "b5kgnQfJezapqINA",
  "tags": []
}